@import '../../variables.scss';

.top-header {
    background-color: transparent;
    color: $blue-font;
    text-align: center;
}

.languageSelection {
	width: 10rem;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.help-button {
	margin-left: 1rem;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
}

.qtyDscr {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	
}

.navbar {
	display: block;
}

.navbar-brand {
	display: block;
}

.navbar-toggler {
	//float: right;
}