.control-wrapper {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.chart-control-buttons {
  margin: 5px 10px;
}

.chart-control{
  margin-left: 2px;
  margin-right: 2px;
  background-color: #1d7c32;
  color:white;
}

.chart-control:hover{
  background-color: #39914c;
  color:white;
}


