.control-wrapper {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.chart-control-buttons {
  margin: 5px 10px;
}

.btn {
	//display: block;
}

@media (min-width-200px) {
	.visible-xs {
		visibility: hidden;
		
	}
	
	.hidden-xs {
		visibility: visible;
		display:block;
		border: solid red 2px;
	}
}

@media (max-width: 200px) {
	
  .btn-group-vertical.visible-xs > .btn {
    //display: block !important;
    //border: red solid 5px;
    //width: 100%;
    //clear: both;
    //height: 4rem;
  }
  
  .btn-group-vertical.visible-xs {
	  visibility: visible;
	  width: 15rem;
	  text-align: center;
	  border: red solid 5px;
  }
  
  .btn-group.hidden-xs {
	  visibility: hidden;
  }
  
   
  /* making the border-radius correct */
  .btn-group > .btn:first-child {
    border-radius: 15px 15px 0 0;
    
  }
  
  .btn-group> .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 15px;
    //border: yellow solid 1px;
  }
  
  .btn-group > .btn:last-child:not(:first-child) {
    border-radius: 0 0 15px 15px;
    //border: red solid 1px;
  }
  
  /* fixing margin */
  .btn-group.my-btn-group-responsive .btn + .btn {
    margin-left: 0;
  }
  
}