h3,
h4 {
  color: rgb(50, 63, 160);
  font-weight: bold;
}

label {
  color: rgb(50, 63, 160);
}

.header-spacing-panels {
  padding-block-start: 1.75rem;
}

.region-level,
.region,
.timeline {
  margin-top: 2rem;
}
