h3,
h4 {
  color: rgb(84, 88, 90);//luke black
  font-family: 'Titillium Web', sans-serif;//header font
  font-weight: bold;
}

h3 {
	margin-top: 1rem;
}

label {

}

.header-spacing-panels {
  padding-block-start: 1.75rem;
}

.region-level,
.region,
.timeline, 
.scenarios {
  margin-top: 2rem;
}

//Detail panel
.panel-default {
	//background: rgb(210, 247, 199);
	background: white;
	//font-family: 'Titillium Web', sans-serif;
	font-family: 'Mukta', sans-serif;//text
	color: rgb(84, 88, 90);//luke black
}

.panel-heading {
	//background-color: rgb(120, 190, 32) !important;//luke green
	background-color: white;
	//font-family: 'Mukta', sans-serif;
	font-family: 'Titillium Web', sans-serif;//heading
	//color: white !important;
	color: rgb(84, 88, 90);//luke black
	cursor: pointer;
}

.modal-content {
	//background: rgba(210, 247, 199, .95);//light green
	//background: rgba(220, 245, 190, 0.95) ;//diluted from luke green
	background: white;//#def5c1;
	font-family: 'Mukta', sans-serif;//text
	color: rgb(84, 88, 90);
}

.modal-dialog {
	top: 200px;
}

//Detail panel UPPER close button
button.close {
	float: right !important;
	font-size: larger;
	font-weight: bold;
}

//Modal help panel header 
.modal-header {
	display: block;
	cursor: pointer;
	font-family: 'Titillium Web', sans-serif;//heading
	color: rgb(84, 88, 90);//luke black
}

.modal-header>h4 {
	float: left;
	font-family: 'Titillium Web', sans-serif;//heading
}

//link for accordion help panels
.help {
	float: right;
	//color: rgb(0, 51, 160) !important;
	font-size: small;
	cursor: pointer;
}

//accordion panel close button
.btn-default {
	background-color: white;
	border: solid 0.5px rgb(84, 88, 90);
	color: rgb(84, 88, 90);//luke black
	font-family: 'Titillium Web', sans-serif !important;
}
