//Define here commonly used variables for styles
//In order to use these variables, import this file to your .scss file

$bg-color-first: rgb(210, 247, 199);
$bg-color-second: rgb(108, 155, 87);
$bg-color-third: rgb(137, 158, 124);

$blue-font: rgb(50, 63, 160);